<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /> 
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('./partials/header')%>

    <main class="mainformularios">
        <form action= '/products/<%= product.id%>?_method=PUT' method=POST class=formulariologin enctype="multipart/form-data">
               
                <article>
                    <label>Aqui podra editar su producto</label>   
                </article>

                <div>
                    <label>Nuevo nombre de producto:</label>
                    <input type="text" name="name" placeholder="<%= product.name %>"> </input>
                </div>
                <div>
                    <label>Precio:</label>
                    <input type="number" name="price" placeholder="<%= product.price %>"></input>
                </div>
                <div>
                    <label>Descuento:</label>
                    <input type="number" name="discount" placeholder="<%= product.discount %>"></input>
                </div>
                <div>
                    <label>Imagen:</label>
                    <input type="file" name="Image" ></input>
                </div>
            <button type="submit">Submit</button>
            </form>

    </main>
    <footer>
        <div class= "contenedor-tarjeta">
        <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o 
                efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>

        <div class= "contenedor-envio">
         <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>           
        </div>
        <div class= "contenedor-seguridad">
        <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            
    </footer>



    <footer>

    </footer>
    
</body>
</html>